// --------- HEADER ---------
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

//clase para todo el div que contiene las arma
.css-a2wsy3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  background-color: gray;
}
//div de cada arma
.css-0 {
  background-color: white;
}

.nav_button-text {
  color: #ffffff;
  font-size: 0.8em;
  line-height: 1.2;
}

.div_nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 2px;
  width: 100%;
  height: 80%;
  a {
    font-size: 0.8em;
    width: 10%;
    img {
      width: 60%;
    }
  }
}
.img_nav {
  width: 10%;
}
.container_nav {
  width: 82%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

// <----------Botones nav----------------->
.nav_button {
  width: 2px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 6px;
  transition: 0, 2s linear;
}

.nav_button:hover {
  border-bottom: solid 1px #f70202;
  transition: 1s linear;
}
.nav_button:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 990px) {
  .nav_button-text {
    color: #ffffff;
    font-size: 0.6em;
    line-height: 1.2;
  }
}

@media screen and (max-width: 646) {
  .nav_button-text {
    color: #ffffff;
    font-size: 0.2em;
    line-height: 1.2;
  }
}
