.div_inicio{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

        form{
            width: 40%;
            border-radius: 1px;
            background-color: #b12f3a;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}